<%= link_to "Home", cocktails_path %>

<h1><%= @cocktail.name %></h1>

<h2>Doses</h2>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <li>
      <%= dose.description %> <%= dose.ingredient.name %>
      <%= link_to destroy_dose_path(dose), method: :delete, data: {confirm: "Are you sure?"} do  %>
      <i class="fas fa-trash-alt"></i>
      <% end %>
    </li>
  <% end %>
</ul>


<p><%= link_to "New dose", new_cocktail_dose_path(@cocktail) %></p>
